DB_HOST="127.0.0.1"
DB_NAME="appdb"
DB_USER="appuser"
DB_PASS="<APP_DB_PASSWORD>"

BACKUP_DIR="/home/ubuntu/db-practice/backup"

MGMT_USER="team5"
MGMT_HOST="172.16.8.200"
MGMT_BACKUP_DIR="/home/team5/db-backups"
