[maxscale]
threads=auto

[db01]
type=server
address=192.168.101.31
port=3306
protocol=MariaDBBackend

[db02]
type=server
address=192.168.101.32
port=3306
protocol=MariaDBBackend

[MariaDB-Monitor]
type=monitor
module=mariadbmon
servers=db01,db02
user=maxscale
password=<MAXSCALE_PASSWORD>
monitor_interval=2s
auto_failover=true
auto_rejoin=true
enforce_read_only_slaves=true
replication_user=repl
replication_password=<REPLICATION_PASSWORD>

[Read-Write-Service]
type=service
router=readwritesplit
servers=db01,db02
user=maxscale
password=<MAXSCALE_PASSWORD>

[Read-Write-Listener]
type=listener
service=Read-Write-Service
protocol=MariaDBClient
address=0.0.0.0
port=4006
