STOP SLAVE;
RESET SLAVE ALL;

CHANGE MASTER TO
  MASTER_HOST='192.168.101.31',
  MASTER_USER='repl',
  MASTER_PASSWORD='<REPLICATION_PASSWORD>',
  MASTER_PORT=3306,
  MASTER_USE_GTID=slave_pos;

START SLAVE;
