[defaults]
# 1. 인벤토리 및 롤 경로 지정
inventory = ./hosts.ini
roles_path = ./roles

# 2. 호스트 키 검사 비활성화 (인스턴스 재생성 시 SSH 에러 방지)
host_key_checking = False

# 3. 출력 메시지 가독성 및 팩트 수집 최적화
stdout_callback = yaml
smart_gather = True

[privilege_escalation]
# 4. 관리자 권한(sudo) 실행 설정
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]
# 5. [중복 제거] 오픈스택 OVN 네임스페이스 점프를 위한 SSH 설정 연동
ssh_args = -F /opt/stack/.ssh/config -o ControlMaster=auto
pipelining = True
